<%= form_with(model: recipe) do |form| %>
<% if recipe.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(recipe.errors.count, "error") %>
      prohibited this recipe from being saved:</h2>

    <ul>
      <% recipe.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1></h1>
<div>
  <table id="recipes" width="50%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Ingredients</th>
        <th>Instruction</th>
        <th>Image</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td align="center"><%= form.text_field :name %></td>
        <td align="center"><%= form.text_area :ingredients %></td>
        <td align="center"><%= form.text_area :instruction %></td>
        <td align="center"><%= image_tag("recipe.jpg",size: "200x200") %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="actions">
  <%= form.submit %>
</div>
<% end %>