<p id="notice"><%= notice %></p>
<center>
  <h1>Recipes</h1>
  <%= search_form_for @q do |f| %>
  <%= f.search_field :name_or_ingredients_cont %>
  <%= f.submit name:'' %>
<% end %>
</center>

<table id="recipes">
<thead>
  <tr>
    <th>Name</th>
    <th>Ingredients</th>
    <th>Instruction</th>
    <th>Views</th>
    <!-- <th>Image</th> -->
    <th colspan="3">Actions</th>
  </tr>
</thead>

<tbody>
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= recipe.ingredients %></td>
      <td><%= recipe.instruction %></td>
      <td><%= recipe.hits %></td>

      <td><%= link_to 'Show', recipe %></td>
      <td>
        <% if signed_in? %>
          <%if current_user.id == recipe.user_id %>
            <%= link_to 'Edit', edit_recipe_path(recipe) %>
          </td>
          <td>
            <%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' }%>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<br>

<% if signed_in? %>
<%= link_to 'New Recipe', new_recipe_path %>
<% end %>