<p id="notice"><%= notice %></p>

<center>
  <h1><%= @recipe.name %></h1>
  <div>
    <h2><%= image_tag("recipe.jpg",size: "200x200") %></h2>
    <table id="recipes" width="50%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Ingredients</th>
          <th>Instruction</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td align="center"><%= @recipe.name %></td>
          <td align="center"><%= @recipe.ingredients%></td>
          <td align="center"><%= @recipe.instruction %></td>
        </tr>
      </tbody>
    </table>

    <div>
      <%= link_to 'Back', recipes_path %>
      <%= render @recipe.comments %>
    </div>

    <div>
      <% if signed_in? %>
        <% if current_user.id == @recipe.user_id %>
          <%= link_to 'Edit', edit_recipe_path(@recipe) %>
        <% end %>

        <%= form_with(model: [@recipe, @recipe.comments.build]) do |f| %>
        <div class="form-group">
          <%= f.label 'New comment' %>
          <%= f.text_area :body %>
        </div>
        <%= f.submit 'Submit' %>
      <% end %>

    <% else %>
      Sign-in to add comments
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>
  </div>
</center>